{
    email {$TLS_EMAIL}
}

# TLS WebSocket proxy for hbbs (ID/rendezvous server)
{$DOMAIN}:{$WS_HBBS_TLS_PORT:21443} {
    reverse_proxy localhost:21118 {
        flush_interval -1
        transport http {
            versions h1.1
        }
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}

# TLS WebSocket proxy for hbbr (relay server)
{$DOMAIN}:{$WS_HBBR_TLS_PORT:21444} {
    reverse_proxy localhost:21119 {
        flush_interval -1
        transport http {
            versions h1.1
        }
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}
